# Virtual environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Large data files

data/brca_mutations.csv
qgene.zip

# Trained model binaries (too large for GitHub)


# OS
.DS_Store
Thumbs.db
