# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Anaconda
anaconda3/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Models (if large later)
*.pkl
*.joblib